version: "3.8"

services:
  n8n:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: n8n
    ports:
      - "80:5678"
    environment:
      TZ: America/Sao_Paulo
      GENERIC_TIMEZONE: America/Sao_Paulo
      WEBHOOK_URL: http://localhost
      NODE_FUNCTION_ALLOW_EXTERNAL: uuid
      N8N_COMMUNITY_PACKAGES_ALLOW_TOOL_USAGE: "true"
      N8N_RUNNERS_ENABLED: "true"
      N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: "true"
      N8N_LISTEN_ADDRESS: 0.0.0.0
      N8N_ENDPOINT_WEBHOOK: n8n
      N8N_ENDPOINT_WEBHOOK_TEST: n8n-test
      N8N_LOG_LEVEL: debug
      N8N_USER_MANAGEMENT_DISABLED: "true"
      WHISPER_API_URL: http://whisper-api:8000
    volumes:
      - ./env/n8n_data:/home/node/.n8n
      - ./env/n8n_download:/home/node/download
      - ./env/n8n_processing:/home/node/processing
      - ./env/n8n_workflow:/home/node/n8n_workflow:ro
      - ./env/n8n_assets:/home/node/assets
    restart: unless-stopped
    networks:
      - default

  whisper-api:
    build:
      context: ./whisper
      dockerfile: Dockerfile
    container_name: whisper-api
    ports:
      - "8000:8000"
    environment:
      - WHISPER_MODEL=large
      - XDG_CACHE_HOME=/root/.cache
    volumes:
      - whisper_cache:/root/.cache/whisper
    restart: unless-stopped
    networks:
      - default
    depends_on:
      - whisper-api


volumes:
  whisper_cache:

networks:
  default:
    driver: bridge
